<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}我的记事本{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong>记事本</strong></a>
            <small class="text-muted sub-title">写点什么好呢</small>
        </h1>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2022 <a href="http://greyli.com" title="Written by Grey Li">Grey Li</a> /
                <a href="https://github.com/greyli/sayhello" title="Fork me on GitHub">GitHub</a> /
                <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>/
                <a href="https://space.bilibili.com/254479550" title="Powersee">Powersee</a>
            </small>
            <p>
                <a id="bottom" href="#" title="Go Top">返回顶部 &uarr;</a>
                <a id="navigation-link" href="#" title="Navigation"></a>
            </p>
        {% endblock %}

<script>
    // 获取当前页面的URL
    const currentUrl = window.location.pathname;
    // 获取链接元素
    const linkElement = document.getElementById("navigation-link");
    // 检查当前页面的URL
    if (currentUrl.includes("manage_messages")) {
        // 如果当前页面是 manage_messages，显示跳转到首页
        linkElement.textContent = "跳转到home页面";
        linkElement.href = "/";
    } else {
        // 否则显示跳转到管理界面
        linkElement.textContent = "跳转到管理界面";
        linkElement.href = "/manage_messages";
    }
</script>
    </footer>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
</body>
</html>
